# Environment files
**/.env
**/.env.local
**/.env.production
**/.env.development

# Allow example files
!**/.env.example

# Node
**/node_modules/

# Python
**/.venv/
**/pycache/
*.pyc

# Logs
**/logs/
*.log

# Uploads
**/uploads/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db